*, *::before, *::after {
  box-sizing: border-box;
}

/* DESKTOP FIRST pavyzdys */

.container {
  background-color: green;
  color: white;
  font-size: 25px;
  padding: 20px;
  width: 70%;
}

@media (max-width: 799px) {
  .container {
    width: 100%;
    padding: 0;
  }
}

@media (max-width: 499px) {
  .container {
    background-color: purple;
    font-size: 16px;
  }
}

@media (max-width: 299px) {
  .container {
    background-color: pink;
    color: black;
  }
}

/* MOBILE FIRST pavyzdys */

.container-mobile {
  background-color: pink;
}

@media (min-width: 300px) {
  .container-mobile {
    background-color: purple;
    color: white;
  }
}

@media (min-width: 500px) {
  .container-mobile {
    background-color: green;
    font-size: 25px;
  }
}

@media (min-width: 800px) {
  .container-mobile {
    width: 70%;
    padding: 20px;
  }
}


/* DESKTOP FIRST pavyzdys */
@media screen and (max-width: 799px) {

}

@media screen and (max-width: 499px) {

}

@media screen and (max-width: 299px) {

}

/* MOBILE first pavyzdys */
@media screen and (min-width: 300px) {

}

@media screen and (min-width: 500px) {

}

@media screen and (min-width: 800px) {

}