*, *::before, *::after {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.content-wrapper {
  display: flex;
  /* justify-content: space-between; */

  column-gap: 30px;
}

.shops-wrapper {
  /* width: 48%; */
  /* margin-right: 2%; */

  /* width: calc((100% - 30px) / 2); */

  width: 50%;
}

.shops-list {
  display: flex;
  flex-wrap: wrap;
  /* column-gap: 15px;
  row-gap: 15px; */
  gap: 15px;
}

.shop {
  background-color: white;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
  padding: 15px;
  width: calc((100% - 15px) / 2);
}

ul.shop-address-list {
  list-style-type: none;
  padding-left: 0;
}

.map-wrapper {
  /* width: 48%; */
  /* margin-left: 2%; */

  /* width: calc((100% - 30px) / 2); */

  width: 50%;
}

iframe {
  width: 100%;
}
