*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  margin: 0;
}

.container {
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.pink-color {
  color: #ff00e9;
}

.black-color {
  color: black;
}

.page-title-wrapper {
  margin-bottom: 30px;
}

.bg-image {
  display: flex;
  column-gap: 10px;
  text-decoration: none;
  font-size: 30px;
  padding: 30px;
  background-image: url('banner.jpg');
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: 90% 70%;
  background-color: white;
}

.programs-wrapper {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 2fr;
}

.programs-filter-form {
  background-color: white;
  padding: 45px 40px 40px;
  position: sticky;
  top: 30px;
}

.form-control:not(.checkbox) {
  display: flex;
  flex-direction: column;
}

.programs-filter-form button {
  width: 100%;
  display: block;
}

.programs-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.program-item {
  background-color: white;
  position: relative;
  display: flex;
}

.program-item a {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-decoration: none;
  color: black;
  padding: 40px 40px 25px;
}

img.program-image {
  height: 100px;
  width: 100px;
  object-fit: contain;
}

ul.program-features-list {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 25px;
  row-gap: 8px;
}

.program-feature-item {
  display: flex;
  column-gap: 10px;
}

.program-feature-item-icon {
  width: 15px;
  text-align: center;
}

.program-extra-info {
  background-color: #ff00e9;
  color: white;
  padding: 8px 15px;
  border-radius: 50px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 10px;
  position: absolute;
  top: 20px;
  right: -15px;
}
